<div class="container mt-3 mb-3">
  <h1 class="mb-3">Contact</h1>
    <form class="col-lg-8">
      <div class="row">
      <div class="col-lg-6">
        <input type="text" class="form-control mb-3" placeholder="First Name">
      </div>
      <div class="col-lg-6">
        <input type="text" class="form-control mb-3" placeholder="Last Name">
      </div>
      <div class="col-lg-12">
        <input type="text" class="form-control mb-3" placeholder="Enter Your EmailId">
      </div>
      <div class="col-lg-12">
        <input type="text" class="form-control mb-3" placeholder="Enter Your Mobile Number">
      </div>
      <div class="col-lg-12">
        <button class="btn btn-md text-center btn-dark">Submit</button>
      </div>
    </div>
  </form>
</div>
