<div class="container">
  <div class="row">
    <div class="col-lg-6 mt-3" *ngIf="menudata">
      <button class="btn btn-sm btn-dark mb-2" routerLink="../../menu">Back</button>
      <img src="{{menudata[0].foodImg}}" class="image-class">
      <h1>{{menudata[0].foodName}}</h1>
      <p>{{menudata[0].foodDetails}}</p>
      <p>{{menudata[0].foodPrice | currency:'INR'}}</p>
    </div>
    <div class="col-lg-6">
      <h1>Enter your Details</h1>
      <form>
        <input type="text" placeholder="Enter Your Name" class="form-control mt-3 mb-3" formControlName="userName">
        <input type="text" placeholder="Enter Your Mobile Number" class="form-control mt-3 mb-3" formControlName="userMobile">
        <textarea class="form-control mt-3 mb-1" formControlName="userAddress" placeholder="Enter Your Address"></textarea>
        <br>
        <button class="btn btn-md btn-dark">Place order</button>
      </form>
    </div>
  </div>
</div>
